.allSectionInfo{
  background-color: rgb(105, 82, 82);
  position: fixed;
  width: 100%; /*esto hace que cubra everything y no se vea ese feo cosito blanco*/
  height: 100%;
  color: white;
}
.content{
}
.sectionTitle{

}
.sectionDescription{
  font-weight: 300;
}
.simulationContainer{

  background-color: #000000;
}
.styles.planContent{

}



.textInformation{

}
.textInformation{

}
.times{

}
.textInformation{

}

.row{

}
.time{

}

.simulationFIFO{

}
.processStack{

}
.timeRemaining{

}
.labelInfo{

}
.finished{

}
.simulationButton{

}
