.descriptionCardContainer {
  position: relative;
  /* height: 40vh; */
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 2px 5px 7px -1px rgb(19, 19, 19);
  /* overflow: hidden; */
}

.descriptionCardContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.descriptionCardTitle {
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.descriptionCardDescription {
  margin: 10px 30px;
  text-align: justify;
}

.descriptionCardImage {
  position: relative;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
  height: 50vh;
  width: 40%;
  margin: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .descriptionCardDescription {
    max-height: 35vh;
    overflow: scroll;
  }
  .descriptionCardImage {
    height: 40vh;
  }
}
@media screen and (max-width: 768px) {
  .descriptionCardContainer {
    position: relative;
    overflow: hidden;
  }
  .descriptionCardContent {
    position: relative;
    margin: 0 auto;
  }
  .descriptionCardImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    z-index: -2;
    opacity: 0.5;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
