.processInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
  gap: 20px;
  align-items: flex-start;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.quantumContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.processTableContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.processButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  margin-top: 20px;
}

.customTable{
  border-radius: 10px !important;
}
